.sidebar {
  width: 220px;
  background: rgb(0, 0, 0);
  box-shadow: 2px 0 5px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: width 0.3s;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  padding: 14px 20px;
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.sidebar li:hover {
  background: #f0f0f0;
}

.logout {
  padding: 16px;
  border-top: 1px solid #ddd;
  cursor: pointer;
}
